*{
  margin: 0;
  padding: 0;
}

.contenedor{
  display: flex;
  flex-wrap: wrap;
  width: 99%;
  height: 85%;
  background-color: rgb(255, 255, 255);
}

.izquierda{
  float: left;
  width: 65%;
  height: 40%;
  /* background-color: brown; */
}

.derecha{
  float: left;
  width: 35%;
  height: 40%;
  /* background-color: aquamarine; */
}
.pie{
  height: 45%;
  width: 98%;
  padding-bottom: 20px;
  /* background-color: blue; */
}


