img {
  width: 99%;
  height: auto;
}
.f{
  height: 100%;
}
.iz{
  float: left;
  width: 50%;
  font-size: 60px ;
  font-weight: bold;
  text-align: left;
  height: 59%;
  /* background-color: aqua; */
}
.der{
  float: left;
  width: 45%;
  font-size: 25px;
  height: 59%;
  /* background-color: blueviolet; */
}

.btn{
  background-color: rgb(241, 70, 70);
  font-weight: bold;
  color: #fff;
  border: 2px;
    border-radius: 6px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  width: 40%;
  height: 50px;
}

.btn:hover{
  background-color: rgb(5, 5, 54);
}

@media screen and (max-width:780px){
  .iz{
  width: auto;
  margin: auto;
  }
  .der{
    width: auto;
    margin: auto;
    }

}
