<!-- <p>izquierda works!</p> -->

<body>
  <div class="f">
    <div>
      <img src="../assets/images/image-web-3-desktop.jpg" alt="">
    </div>
    <div class="iz">
      <p>The Bright Future of Web 3.0?</p>
    </div>
    <div class="der">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo porro maxime accusantium aperiam corrupti
        suscipit officiis reprehenderit ratione beatae eaque cupiditate omnis in sunt vitae ipsum unde tenetur, dolores
        cum?</p>
      <button class="btn">READ MORE</button>
    </div>
  </div>
</body>
