/* .imagen{
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
  width: 16%;
  padding-right: 10px;
} */
*{
  margin: 0;
  padding: 0;
}
h1{
  color: gray;
  padding-bottom: 10px;
}
.contenido{
  width: 33%;
   /*evitar que el texto salga del div*/
  word-wrap: break-word;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
}

img{
  float: left;
  padding-left: 10px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}
p{
  padding-top: 20px;
}
h2:hover{
  color: rgb(150, 99, 6);
}

@media screen and (max-width:780px){
  .contenido{
    width:auto;
    margin: auto;
  }
  p,h1{
    width: auto;
    margin: auto;
  }

  img {
    width: auto;
    height: auto;
  }
}
